<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <header>
        <nav class="navbar bg-dark">
            <a class="nav-brand" href="/">VNews</a>
            
            <div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Business</a>
                      <a class="dropdown-item" href="#">Entertainment</a>
                      <a class="dropdown-item" href="#">Health</a>
                      <a class="dropdown-item" href="#">Science</a>
                      <a class="dropdown-item" href="#">Sports</a>
                      <a class="dropdown-item" href="#">Technology</a>  
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="row mt-4">
        <% items.forEach(function (item) { %>
            
            <div class="col-lg-4 col-sm-12 mb-2">
                <img class="card-img-top content-image" src="<%=item.urlToImage%>" alt="photo">
                <div class="card-body">
                    <h3 class="card-title content-title"><%=item.title%></h3>
                    <p class="card-text content-desc"><%=item.content%></p>
                </div>
            </div>
        <% }) %>    
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>